body {
  font-family: Menlo, monospace
}

#scroll {
  height:70%;
	font-family: "Courier New", Courier, monospace;
	font-weight:bold;
	background-color:#efefef;
	padding:10px;
	overflow-y:scroll;
	box-shadow:black 0.1em 0.1em 0.1em;
	border-radius: 10px;
}

#input {
  font-size: 30px;
  width: 100%
}

