<html>
  <head>
    <title>Elixir Web Shell</title>
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.mousewheel-min.js"></script>
    <script type="text/javascript" src="/static/jquery.terminal-min.js"></script>
    <script type="text/javascript">
      var http_port = "<%= port %>";
      var http_host = "<%= host %>";
    </script>
    <script type="text/javascript" src="/static/ews.js"></script>
    <script type="text/javascript" src="/static/cookie.js"></script>
    <link href="static/jquery.terminal.css" rel="stylesheet"/>
  </head>
  <body>
  </body>
</html>
